<!DOCTYPE html>
  <html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>スキマTips</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
</head>

<body>
      <h1 id = "welcome">Welcome to スキマTips !</h1>
      <form action="/result" method="post">
          <input type="hidden" name="comment_box">
          <label id ="post" for="comment_" >Post</label>
          <textarea name="comment_data" rows="3" cols="50"></textarea>
          <p></p>
          <label id ="name" for="name">Name</label>
          <input type="text" name="name">
          <button type="submit" id = "send">send</button>
          </form>
      {% block body %}
      <form method="post" action="">
        　<table class="table">
              <thead class="thead" id ="thead-dark">
                  <tr>
                      <th id ="moji">Date</th>
                      <th id ="moji">Name</th>
                      <th>Post Contents</th>
                      </tr>
                  </thead>
              <tbody>
                  {% for th in lines %}
                  <tr>
                      <td>{{ th.pub_date }}</td>
                      <td>{{ th.name }}</td>
                      <td>{{ th.comment }}</td>
                      </tr>
                  {% endfor %}
                  </tbody> -->
              </table>
          </form>
      {% endblock %}
</body> 

</html>